/* define clase css con nombre */
.titulo {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;
    color: #000;
}

.imagen {
    width: 50%;
    height: auto;
}

.descripcion {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: brown;
    float: right;
    padding-right: 15%;
    padding-top: 7%;
}

/* aplica clase css a todos los elementos HTML con id encabezado */
#encabezado {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: blue
}



body {
    margin: 0;
    padding: 0;
    background: url(../SportApp/imag/Logo\ Sport\ App\ -\ copias.PNG) no-repeat center top;
    background-size: cover;
}